<mat-toolbar class="mat-elevation-z10" color="primary">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">Home</button>
    <button mat-menu-item routerLink="admin">Admin</button>
    <button mat-menu-item routerLink="dashboard">Dashboard</button>
    <button mat-menu-item routerLink="iframe">iFrame</button>
    <button mat-menu-item routerLink="remote-module">Remote Module</button>
    <button mat-menu-item routerLink="composed">Composed</button>
  </mat-menu>
  <span>Angular Micro Frontends</span>
  <span class="spacer"></span>
  v0.1.0
  
    <div style="padding-left: 15px">
      <ng-container *ngIf="user; else si">
      <button mat-raised-button type="button" (click)="signOut()">Sign Out</button>
    </ng-container>
    </div>
  
</mat-toolbar>
<div class="main">
  <router-outlet></router-outlet>
</div>

<ng-template #si>
  <button mat-raised-button type="button" (click)="signIn()">Sign In</button>
</ng-template>
