<div class="main">
  <div class="mat-elevation-z10">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Administration Page</mat-card-title>
        <mat-card-subtitle>You know, for doing things</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <p>Idk maybe theres a bunch of interesting stuff in here.</p>
        <p>Or not.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
